<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About us</title>
    <link rel="stylesheet" href="styles/shared.css">
    <link rel="stylesheet" href="styles/aboutus.css">
  </head>
  <body>
    <ul class="navigation">
      <li><a href="/">Home</a></li>
      <li><a href="/map">Map</a></li>
      <li><a href="/entries">Entries</a></li>
      <li><a href="/memories">Memories</a></li>
      <li><a href="/aboutus">About Us</a></li>
    </ul>
    <section>
      <div class="header">
        <div class="container">
          <h1><span>About the Creators</span></h1>
        </div>
      </div>
      <div class="explanation">
        <div class="explanation-text">
          <h2>Who We Are:</h2>
          <p>We are a trio of students participating in Google's Computer Science Summer Institute
            in Los Angeles for Summer 2019. This website was made for our final project. We all plan
            on majoring in computer science in the near future.</p>
        </div>
        <img id="google-la"src="https://4.bp.blogspot.com/-XqTkuL04jt8/V3FYtfLlF7I/AAAAAAABlqQ/nx-esLuOJrUtLPQeqwUcDfN6-tRTqfM2QCKgB/s1600/IMG_20160621_174032.jpg" alt="Google LA">
      </div>
      <h2 id="team">Meet the Team</h2>
      <div class="creators"><!-- Make this a flex box!-->
        <div class="us">
          <img class="profile-pic" src="https://media.licdn.com/dms/image/C5603AQH2O-YDE6mWvg/profile-displayphoto-shrink_800_800/0?e=1569456000&v=beta&t=aRe3D5d1VqgrbiUMiuPZJOqsA-iogETk9r7N5MSud4Q" alt="">
          <h2>Thomas Tran</h2>
          <p>Thomas is a student from Santa Ana, CA. He is majoring in Computer Science at UC Riverside.</p>
          <a class="links" href="https://www.linkedin.com/in/thomas-tran-8a104a189/"><img src="https://image.flaticon.com/icons/svg/174/174857.svg" height="50px" width="50px"></a>
        </div>
        <div class="us">
          <img class="profile-pic" src="https://scontent-sjc3-1.cdninstagram.com/vp/f1f31d18dcfd9cd0cf531553992e70b7/5DD053E7/t51.2885-15/sh0.08/e35/p640x640/55962015_698943377188045_7088106975820742403_n.jpg?_nc_ht=scontent-sjc3-1.cdninstagram.com" alt="">
          <h2>Tala Germani</h2>
          <p>Tala is a student from Santa Monica, CA. She is majoring in Computer Science at The University of Chicago.</p>
          <a class="links" href="#"><img src="https://image.flaticon.com/icons/svg/174/174857.svg" height="50px" width="50px"></a>
        </div>
        <div class="us">
          <img class="profile-pic" src="https://media.licdn.com/dms/image/C5603AQFxPUr9x2pyfg/profile-displayphoto-shrink_200_200/0?e=1569456000&v=beta&t=rdZWH5Jm-rY8NNuyPzDowd2yppZx7_OMotq9fiJZhko" alt="">
          <h2>Jennifer Pham</h2>
          <p>Jennifer is a student from Fountain Valley, CA. She is majoring in Computer Science at UC San Diego.</p>
          <a class="links" href="https://www.linkedin.com/in/jennifer-pham-575ab113b/"><img src="https://image.flaticon.com/icons/svg/174/174857.svg" height="50px" width="50px"></a>
        </div>

      </div>
    </section>
    <div id="header">
    </div>
  </body>
</html>
