<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About us</title>
    <link rel="stylesheet" href="styles/aboutus.css">
  </head>
  <body>
    <ul class="navigation">
      <li><a href="/">Home</a></li>
      <li><a href="/map">Map</a></li>
      <li><a href="/aboutus">About Us</a></li>
    </ul>
    <section>
      <h1>About the creators!</h1>
      <div class="creators"><!-- Make this a flex box!-->
        <div class="thomas">
          <h2>Thomas Tran</h2>
        </div>
        <div class="tala">
          <h2>Tala Germani</h2>
        </div>
        <div class="jennifer">
          <h2>Jennifer Pham</h2>
          <p>Jennifer is some kid that has no idea what
          to type for this portion of the about page. She will
        be attending UC San Diego in Fall 2019.</p>
        </div>

      </div>
    </section>
    <div id="header">
    </div>
  </body>
</html>
