<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PinMAPS</title>
    <link rel="stylesheet" href="styles/shared.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <ul class="navigation">
      <li><a href="/">Home</a></li>
      <li><a href="/map">Map</a></li>
      <li><a href="/entries">Entries</a></li>
      <li><a href="/memories">Memories</a></li>
      <li><a href="/aboutus">About Us</a></li>
    </ul>
    <div class="header">
      <div class="container">
        <h1><span>PinMaps</span></h1>
        <p>All your travel memories in one place</p>
      </div>
    </div>
    <section>
    <div id="everything">
      <h2> Do you ever wish you can keep track of your travel memories,<br>
        photos, and journal entries all on one map? Well now you can! </h2>
      <h3> PinMaps' Features Include:</h3>
      <ul>
        <li>Inputting multiple pins on a map of where you've been</li>
        <li>Map can zoom in or out and you can drag to navigate</li>
        <li>Pins inputted on the map can be dragged for accuracy </li>
        <li>Form that lets you input details about your trips
          including locations, dates, journal entries, and media links </li>
        <li>Logging in to save your travel data</li>
      </ul>
    </div>
    </section>
  </body>
</html>
