<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PinMAPS</title>
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <ul class="navigation">
      <li><a href="/">Home</a></li>
      <li><a href="/map">Map</a></li>
      <li><a href="/aboutus">About Us</a></li>
    </ul>
    <section>
  <div class=”media”>
      <h1>PinMAPS: All your travel memories in one place</h1>
      <img src="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1500422652000/photosp/266bbd57-a561-4fe8-956d-08dc4cd4ca9b/stock-photo-travel-tourism-vacation-seattle-world-map-visitors-push-countries-266bbd57-a561-4fe8-956d-08dc4cd4ca9b.jpg"
  </div>
    </section>
  </body>
</html>
