<!DOCTYPE html>
<html>
<head>
   <title>Full Screen Leaflet Map</title>
   <meta charset="utf-8" />
   <link
       rel="stylesheet"
       href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"
   />
   <link rel="stylesheet" type="text/css" href="/styles/maps.css">
</head>
<body>
  <ul>
    <li><a href="/templates/home.html">Home</a></li>
    <li><a href="/templates/maps.html">Map</a></li>
    <li><a href="/templates/about.html">About Us</a></li>
  </ul>
   <div id="canvas"></div>

   <script
       src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js">
   </script>

   <script
       src="/javascript/maps.js">
   </script>
</body>
</html>
