<!DOCTYPE html>
<html>
<head>
   <title>Full Screen Leaflet Map</title>
   <meta charset="utf-8" />
   <link
       rel="stylesheet"
       href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"
   />
   <style>
       body {
           padding: 0;
           margin: 0;
       }
       html, body, #canvas {
           height: 90%;
           width: 90%;
       }
   </style>
</head>
<body>
   <div id="canvas"></div>

   <script
       src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js">
   </script>

   <script
       src="/javascript/maps.js">
   </script>

   <script
       src="/styles/maps.css">
   </script>

</body>
</html>
