h1 {
  color: blue;
  font-size: 30px;
}

section {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
.media {
   min-width: 0;
   margin: 5px;
}
img {
   width: 450px;
   max-width: 100%;
   max-height: 450px;
 }
}
