@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.navigation {
  z-index: 5;
  list-style-type: none;
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #AAD3DF;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 30px
}

/* Change the link color to #111 (black) on hover */
li a:hover:not(.active) {
  background-color: #CF9BCB;
}

.active {
  background-color: #4CAF50;
}

body {
  background-color: #CF9BCB;
}

#canvas{
  height: 1000px;
  width: 100%;
  margin:auto;
  margin-top: 100px;
  position: relative;
}

/*Styling for the forms */
form{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  width:700px;
  color: white;
  margin:auto;
  padding-right: 50px;
  padding-left: 50px;

}
input{
  left:50%;
}
input[type=text] {
  width: 800px;
  padding: 12px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  color:gray;
}
