
/* Change the link color to #111 (black) on hover */
li a:hover:not(.active) {
  background-color: #CF9BCB;
}

.active {
  background-color: #4CAF50;
}

#canvas{
  height: 1200px;
  width: 70%;
  margin:auto;
  margin-top: 100px;
  position: relative;
  border-radius: 4px;
}

/*Styling for the forms */
form {

  font-size: 30px;
  width:700px;
  color: white;
  margin:auto;
  padding-right: 50px;
  padding-left: 50px;

}
input {
  left:50%;
}
input[type=text] {
  width: 800px;
  padding: 12px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  color:gray;
}
