@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.navigation {
  z-index: 5;
  list-style-type: none;
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #AAD3DF;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

/* Change the link color to #111 (black) on hover */
li a:hover:not(.active) {
  background-color: #CF9BCB;
}

.active {
  background-color: #4CAF50;
}

body {
  background-color: #CF9BCB;
}

#canvas{
  height: 500px;
  width: 700px;
  margin:auto;
  margin-top: 150px;
  position: relative;
}
